@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:500,700,900&display=swap');

$brand-color: #48bf72;
$alt-color: #3c4955;
$text-color: #fff;
$title-color: #fff;

$b-size: 2px;

$text-ff: 'Lato', sans-serif;
$title-ff: 'Roboto', sans-serif;